body {
  background-color: #292C32;
  margin: 2rem;
}

.header h1 {
  font-size: xx-large;
  margin-top: 0px;

}

.header p {
  margin-left: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: x-large;
  color: white;
}

h1 {
  color: white;
  margin-bottom: 0px;
  margin-top: 20px;
}


.image {
  display: block;
  margin-left: auto;
  float: right;
  height: 140px;
}

hr {
  margin-top: 70px;
  margin-left: -32px;
  margin-right: -32px;
  background-color: #3768A1;
  border: none;
  height: 3px;
}

.workList h1 {
  margin-bottom: 0px;
}

.workList h2 {
  color: #3768A1;
  font-size: large;
  margin-top: 0px;
}

.workList p {
  color: grey;
  margin-left: 1rem;
}

